.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #ff9800;}
.alert.warning {background-color: red;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#main{margin-left: 150px;
    margin-right: 150px;
}
#pbody{
    font-family: inherit;
    font-size:medium;
    text-align: justify;
    margin-top: 10px;
}
#pdiv{
    font-family: inherit;
    font-size:medium;
}
#indexfooter{
    position:relative;
    bottom:0px;
    left: 0px;
    right:0px;
    margin-bottom:0px;
    width: 100%;
    overflow: hidden;
    color:#fff;
    margin-top:5px;
}
.mydiv{
    align-items:self-end;
}
.h2div{
    color:#0d6efd;
    font-family: inherit;
}
a{
    font-family: inherit;
}
button{
    font-family: inherit;
}
.carousel.carousel-dark.slide{
    width: 100%;
}
.formpage
{
    position:fixed;
    bottom:0;
}
#inptxt{
    height: 50px;
    width: 350px;
}
#staticfooter{
    position:fixed;
    bottom:0px;
    left: 0px;
    right:0px;
    margin-bottom:0px;
    width: 100%;
    overflow: hidden;
    color:#fff;
    margin-top:5px;
}
